* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "MuseoModerno", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(6, 6, 90), #2f3faa, hwb(232 47% 14%));
}

header {
  background-color: #ffffff;
  color: #4006f1;
  padding: 25px 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 23px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #3c01ff;
}

main {
  text-align: center;
  padding: 100px 0;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.voltar a {
  background-color: #2f3faa;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin-left: -150%;
  margin-top: 100px;
}

.voltar:hover a {
  background-color: #0000cd;
}

.logo img {
  position: absolute;
  left: 10%;
  top: -3%;
  width: 150px;
}

.nome {
  position: absolute;
  left: 38%;
  top: -1%;
  font-size: 50px;
}
